<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonhsu.upgradeyourcereal"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!--  The theme Theme.Sherlock.Light.DarkActionBar is provided by
    ActionBarSherlock.  Go to the res/values/abs__themes.xml file to see the
    details on the style name "Theme.Sherlock.Light.DarkActionBar". -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:name="com.jasonhsu.upgradeyourcereal.About"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:name="Result" 
            android:theme="@style/Theme.Sherlock"
        >
        </activity>
    </application>

</manifest>